h3{font-size:28px;position:relative;top:1px;}
h3.loader{background: url('/img/loader.png') no-repeat left;padding-left:34px;}

div.box{
    background-color: #BBD8E9;
    border-radius: 3px 3px 3px 3px;
    padding:14px;
    margin-top:12px;
}